# Feature_Selection

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('clean_data.csv')
pd.set_option('display.max_columns',None)

In [4]:
from sklearn.linear_model import Lasso

In [5]:
from sklearn.feature_selection import SelectFromModel

In [6]:
df.head()

,Unnamed: 0,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,0,1,3,Rare,1.0,1,2,1,1,1,4.484132,5.128715,4.160444,3.887730,2548,1,4,130,1,1.244155,0.985817,2.197225,111,5000,21,27,9.510075
1,1,2,3,Rare,1.0,1,2,1,1,1,4.484132,5.128715,4.160444,3.887730,2548,1,4,130,1,1.244155,0.985817,2.197225,111,5000,21,27,9.711116
2,2,3,1,Rare,1.0,1,2,2,1,1,4.548600,5.142832,4.182050,3.958907,2823,1,6,152,1,0.985817,1.244155,2.197225,154,5000,19,26,9.711116
3,3,4,2,Rare,1.0,1,4,3,2,1,4.603168,5.173887,4.192680,3.994524,2337,2,4,109,1,1.160021,1.223775,2.302585,102,5500,24,30,9.543235
4,4,5,2,Rare,1.0,1,4,3,3,1,4.599152,5.173887,4.195697,3.994524,2824,2,1,136,1,1.160021,1.223775,2.079442,115,5500,18,22,9.767095

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        205 non-null    int64
 1   car_ID            205 non-null    int64
 2   symboling         205 non-null    int64
 3   CarName           205 non-null    object
 4   fueltype          205 non-null    float64
 5   aspiration        205 non-null    int64
 6   doornumber        205 non-null    int64
 7   carbody           205 non-null    int64
 8   drivewheel        205 non-null    int64
 9   enginelocation    205 non-null    int64
 10  wheelbase         205 non-null    float64
 11  carlength         205 non-null    float64
 12  carwidth          205 non-null    float64
 13  carheight         205 non-null    float64
 14  curbweight        205 non-null    int64
 15  enginetype        205 non-null    int64
 16  cylindernumber    205 non-null    int64
 17  enginesize        205 non-null    int64
 18  fuelsystem        205 non-null    int64
 19  boreratio         205 non-null    float64
 20  stroke            205 non-null    float64
 21  compressionratio  205 non-null    float64
 22  horsepower        205 non-null    int64
 23  peakrpm           205 non-null    int64
 24  citympg           205 non-null    int64
 25  highwaympg        205 non-null    int64
 26  price             205 non-null    float64
dtypes: float64(9), int64(17), object(1)
memory usage: 43.4+ KB

In [8]:
df.describe()

,Unnamed: 0,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,102.000000,103.000000,0.834146,0.902439,1.180488,3.121951,2.643902,1.673171,1.014634,4.590874,5.156839,4.187739,3.982846,2555.565854,1.721951,3.912195,126.907317,1.102439,1.199586,1.175371,2.267389,104.117073,5125.121951,25.219512,30.751220,9.354679
std,59.322565,59.322565,1.245307,0.297446,0.385535,0.994966,0.782796,0.556171,0.120377,0.059364,0.070921,0.032122,0.045514,520.680204,0.449134,1.197259,41.642693,0.730460,0.081768,0.101759,0.282234,39.544167,476.985643,6.542142,6.886443,0.503805
min,0.000000,1.000000,-2.000000,0.000000,1.000000,2.000000,1.000000,1.000000,1.000000,4.461300,4.949469,4.099332,3.867026,1488.000000,1.000000,1.000000,61.000000,0.000000,0.932164,0.727549,1.945910,48.000000,4150.000000,13.000000,16.000000,8.540519
25%,51.000000,52.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,4.548600,5.113793,4.160444,3.951244,2145.000000,1.000000,4.000000,97.000000,1.000000,1.147402,1.134623,2.151762,70.000000,4800.000000,19.000000,25.000000,8.960339
50%,102.000000,103.000000,1.000000,1.000000,1.000000,4.000000,3.000000,2.000000,1.000000,4.574711,5.154447,4.182050,3.990834,2414.000000,2.000000,4.000000,120.000000,1.000000,1.196948,1.190888,2.197225,95.000000,5200.000000,24.000000,30.000000,9.239414
75%,153.000000,154.000000,2.000000,1.000000,1.000000,4.000000,3.000000,2.000000,1.000000,4.628887,5.210032,4.203199,4.016383,2935.000000,2.000000,4.000000,141.000000,2.000000,1.275363,1.226712,2.240710,116.000000,5500.000000,30.000000,34.000000,9.711297
max,204.000000,205.000000,3.000000,1.000000,2.000000,4.000000,4.000000,3.000000,2.000000,4.794964,5.338019,4.280824,4.091006,4066.000000,2.000000,6.000000,326.000000,2.000000,1.371181,1.427916,3.135494,288.000000,6600.000000,49.000000,54.000000,10.723267

In [9]:
x = df.drop(['car_ID','price','Unnamed: 0','CarName'],axis = 1)

In [9]:
y = df['price']

In [10]:
### Apply Feature Selection
# first, I specify the Lasso Regression model, and I
# select a suitable alpha (equivalent of penalty).
# The bigger the alpha the less features that will be selected.

# Then I use the selectFromModel object from sklearn, which
# will select the features which coefficients are non-zero

feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(x, y)
# feature_sel_model.fit(x_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [11]:
feature_sel_model.get_support()

array([ True, False, False,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True])

In [12]:
# let's print the number of total and selected features

# this is how we can make a list of the selected features
selected_feat = x.columns[(feature_sel_model.get_support())]

# let's print some stats
print('total features: {}'.format((x.shape[1])))
print('selected features: {}'.format(len(selected_feat)))

total features: 23
selected features: 15

In [13]:
for value in selected_feat:
    print(value)

symboling
doornumber
carbody
drivewheel
enginelocation
curbweight
enginetype
cylindernumber
enginesize
fuelsystem
compressionratio
horsepower
peakrpm
citympg
highwaympg

In [14]:
# Use this cell while applying Linear Regression and DecisionTree 
# Can be used while aplying Random Forest
x = x[selected_feat]

In [15]:
x = x.values

In [16]:
y = y.values

In [17]:
# Split our data into Training and Testing
from sklearn.model_selection import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.3, random_state =0)

# Linear, Decision_Tree, Random_Forest Algorithm

Here I have used 3 types of Algorithms, use only one at a time and comment out other algorithms

In [19]:
# LINEAR REGRESSION
from sklearn.linear_model import LinearRegression


# DECISION TREE
from sklearn.tree import DecisionTreeRegressor

# RANDOM FOREST
from sklearn.ensemble import RandomForestRegressor

In [20]:
# LINEAR REGRESSION
regressor = LinearRegression()

# DECISION TREE
dt = DecisionTreeRegressor(max_depth = 15)

# RANDOM FOREST
rf = RandomForestRegressor(n_estimators = 24, random_state = 0)

In [21]:
# LINEAR REGRESSION
# regressor.fit(xtrain,ytrain)


# DECISION TREE
# dt.fit(xtrain,ytrain)


# RANDOM FOREST
rf.fit(xtrain,ytrain)

RandomForestRegressor(n_estimators=24, random_state=0)

In [25]:
# LINEAR REGRESSION
# y_pred1 = regressor.predict(xtest) # Accuracy 81.9


# DECISION TREE
# y_pred2 = dt.predict(xtest)  # Accuracy 83.48

# RANDOM FOREST
y_pred3 = rf.predict(xtest)   # Accuracy 90.77

In [26]:
y_pred3

array([ 8.71953776,  9.75901181,  9.47482118,  8.66112833,  9.30375554,
        9.46670499,  8.67055288,  8.88662479,  9.75018003,  8.81127623,
        9.84490261, 10.45216161,  9.43540191,  9.50225322,  8.78170785,
        9.32661291,  9.39324834,  9.67835045,  9.08688808,  8.81603447,
        9.11259763,  9.6730025 ,  9.2554313 ,  9.47175648,  9.74055612,
        8.93266584,  8.94175623,  9.55395702,  8.97417918,  8.82043783,
        9.0370417 ,  9.38367751,  9.60514212,  9.13372154,  8.85310621,
       10.39186995,  9.17504408,  9.68851304,  8.69115034, 10.57501033,
        8.74606977,  9.6007774 , 10.45431834,  9.45846536,  9.25726881,
        8.99562605,  8.80745349,  9.57071517,  9.46278447,  9.05791449,
        9.72241428,  8.89949157,  9.02344636,  9.08816945,  9.70954289,
        9.75176032,  9.1174186 ,  9.7550543 ,  9.16938991,  8.76848132,
        8.67100115,  9.48495631])

In [27]:
from sklearn.metrics import r2_score

In [28]:
score = r2_score(ytest,y_pred3)*100

In [29]:
score

90.77114882152961

# HyperParameter Tuning
This method is used to find the best accuracy

In [30]:
# Random Forest 

l =[]
for i in range(1,30): 
    rf = RandomForestRegressor(n_estimators = i, random_state =0)
    rf.fit(xtrain,ytrain)
    y_pred = rf.predict(xtest)
    score = r2_score(ytest,y_pred)
    score = score * 100
    l.append([i,score])

In [31]:
print(l)

[[1, 81.25339085572236], [2, 86.5101940234149], [3, 86.16032134954614], [4, 87.68498839712548], [5, 88.50942833395501], [6, 89.32683820511518], [7, 89.56522698671867], [8, 89.519673681585], [9, 89.34897913036679], [10, 89.75946390828679], [11, 90.00345158504865], [12, 90.11282446139252], [13, 90.02639927748474], [14, 89.7189347793626], [15, 89.96716651742528], [16, 90.29118912585486], [17, 90.03879023083977], [18, 90.27553641655905], [19, 90.07990067922242], [20, 90.3663411450919], [21, 90.5655049619271], [22, 90.65347113901574], [23, 90.76277802776085], [24, 90.77114882152961], [25, 90.66832294359115], [26, 90.67201576168644], [27, 90.58650863558753], [28, 90.55819840494219], [29, 90.56365882708081]]

In [32]:
# Decision Tree
l =[]
for i in range(1,30):    
    dt = DecisionTreeRegressor(max_depth = i)    
    dt.fit(xtrain,ytrain)
    y_pred = dt.predict(xtest)
    score = r2_score(ytest,y_pred)
    score = score * 100
    l.append([i,score])

In [33]:
print(l)

[[1, 59.843365581197276], [2, 83.62705708157662], [3, 81.96383665325033], [4, 82.86936737443474], [5, 83.17527964407951], [6, 86.5655601960435], [7, 80.1523695183219], [8, 82.63074255686546], [9, 84.34056268692565], [10, 80.28603158563973], [11, 83.21666031150738], [12, 80.06034066548504], [13, 81.26705939628253], [14, 82.36327856209856], [15, 81.41271181154912], [16, 83.12530654482251], [17, 78.82942272234882], [18, 81.9421611798214], [19, 82.34698203966073], [20, 80.18180254102003], [21, 82.41666313734147], [22, 81.98241285946628], [23, 82.35547008042522], [24, 82.24349139049384], [25, 83.96448470529603], [26, 81.81022625773429], [27, 81.87861058948931], [28, 83.21338422004567], [29, 81.21777708431362]]

# Save Pickle File

In [34]:
import pickle

In [35]:
filename = 'car_price_prediction_model.pkl'  # File Name
pickle.dump(rf,open(filename,'wb'))   # pickle.dumb(model,open(filename,'wb'))     wb = Writebite

# Load Pickle File

In [36]:
load = pickle.load(open('car_price_prediction_model.pkl','rb'))   # pickle.load(open(filename,'rb'))    'rb' = readbite

In [37]:
load

RandomForestRegressor(n_estimators=29, random_state=0)